[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "joomla"]
	fetch = +refs/heads/*:refs/remotes/joomla/*
	pushurl = https://github.com/starberry/joomla-cms
	url = https://github.com/starberry/joomla-cms
#	url = git@github.com:starberry/joomla-cms.git
[remote "getk2"]
	fetch = +refs/heads/*:refs/remotes/getk2/*
	pushurl = https://github.com/starberry/getk2
	url = https://github.com/starberry/getk2
#	url = git@github.com:starberry/getk2.git
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	pushurl = https://github.com/starberry/joomla-repo
	url = https://github.com/starberry/joomla-repo
#	url = git@github.com:starberry/joomla-repo.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
