.DS_Store
.tmb
Thumbs.db
*.cdn
*.bak
*.orig
*.org
*.bk
1
*.old
*.swp
*~
/.ssh
/old
/.vim
/.viminfo
/.cache
/.histfile
/.zcompdump*
/.zshrc
/database_details.txt
/etc/*.dbm
/var
/log
/vhost.conf
/who
/httpdocs/humans.txt
/httpdocs/robots.txt
/httpdocs/configuration.php
/httpdocs/.htaccess
/httpdocs/phpunit.xml
